= content_for :stylesheets do
  = stylesheet_link_tag "phones/phone_selector"

.row
  %h2
    %span.lead
      = t('buy.phones.header.lead')
    = t('buy.phones.header.copy')
  .subrow.phone-selector
    - @phones.each do |ph|
      .phone
        = image_tag  "phones/" + ph.image_url
        .info
          %strong.name= ph.name
          %p.tagline= t('buy.phones.models.' + ph.slug + '.tagline')
          = link_to "See details >"
          %p.price= number_to_currency(ph.price, precision: 0)
          %button Add