= content_for :stylesheets do
  = stylesheet_link_tag "cart/cart_summary"

.row
  %h2= t('buy.checkout.header')
  %hr
  .cart-summary.subrow
    %table
      %th{:colspan => 4} Your Devices:
      %tr
        %td Samsung Victory
        %td $499.99
        %td Qty: 1
        %td.remove-device
      %tr
        %td Samsung Galaxy S3
        %td $259.99
        %td Qty: 1
        %td.remove-device
    %table
      %th{:colspan => 2} Your Cart:
      %tr
        %td Device(s)
        %td
          %strong $759.98
      %tr
        %td Monthly Plan Total:
        %td
          %strong $31.74
    .est-monthly-total
      %h3
        = "Estimated monthly total:"
        %strong $44.73
      %p Monthly Plan: $31.74 | Taxes & Fees: $8.00 | Line Fees: $4.99
    .total-due-today
      %h3
        = "Total due today:"
        %strong $836.16
      %button.checkout-btn Checkout