%h1
  %span.lead
    = t('buy.header.lead')
  = t('buy.header.copy')
%section
  = render "presets/preset_selector"
%section
  = render "plans/plan_selector"
%section
  = render "phones/phone_selector"
%section
  = render "cart_summary"