@import "shared/grids.css.scss";
@import "shared/colors.css.scss";


.plans {
  @extend .row;
  padding-left: 13px;
  padding-top: 13px;
  padding-right: 13px;
}

.plan-carousels {
  float: left;
  @extend .columns;
  @extend .large-6;
  @extend .small-12;
  min-height: 480px;
  background: url('/assets/placeholders/placeholder-selector.png') no-repeat left 0;
  background-position: center;
}

.plan-summary {
  float: right;
  @extend .columns;
  @extend .large-6;
  @extend .small-12;
  h3 {
    line-height: 1em;
    font-size: 1.5em;
    margin: 0;
  }
  .combined-price {
    margin: 0;
    font-size: 4em;
    font-weight: bold;
    color: $zact-red;
  }
  p {
    margin-top: 0;
  }
  span.voice-amount, span.sms-amount, span.data-amount {
    font-size: 1em;
  }
  hr {
    margin-top: 13px;
    margin-bottom: 13px;
  }
}

.plan-education {
  height: 240px;
  h3 {
    cursor: pointer;
    color: $white;
    font-size: 16px;
    font-weight: bold;
    padding: 13px;
    margin-bottom: 13px;
    background-color: $sky-blue;
  }
  div {
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    ul {
      margin: 0;
      padding-left: 13px;
    }
    li {
      font-size: 13px;
    }
  }
  .never-overpay {
    padding-left: 56px;
    position: relative;
  }
  .never-overpay:after {
    content: "";
    width: 38px;
    height: 28px;
    position: absolute;
    left: 6px;
    top: 7px;
    background: $sky-blue url('/assets/icons/never-overpay.png') no-repeat 3% center;
  }
  .ui-accordion-header {
    background: $sky-blue url('/assets/icons/acc-inactive.png') no-repeat 97% center;
  }

  .ui-accordion-header.ui-accordion-header-active {
    background: $sky-blue url('/assets/icons/acc-active.png') no-repeat 97% center;
  }
}

.no-contracts {
  width: 40%;
  float: left;
  background: url('/assets/icons/no-contracts.png') no-repeat left center;
  min-height: 32px;
  padding-top: 6px;
  padding-left: 36px;
  font-size: 13px;
  padding-bottom: 6px;
}
.nationwide-sprint {
  font-size: 13px;
  float: left;
  width: 60%;
}