@import "shared/grids.css.scss";
@import "shared/colors.css.scss";

.cart-summary {

  text-align: right;
  table {
    @extend .columns;
    @extend .large-6;
    @extend .small-12;
    margin-bottom: 13px;
    tr {
      border: 0;
      th, td {
        border-bottom: 1px solid $light-gray;
        text-align: left;
        font-size: 13px;
      }
      td:last-of-type {
        text-align: right;
      }
    }
  }
  .remove-device {
    background: url('/assets/icons/remove-icon.png') no-repeat center;
    min-width: 14px;
    min-height: 14px;
    cursor: pointer;
  }
  .checkout-btn {
    padding: 13px;
    padding-right: 52px;
    font-size: 1em;
    background: $zact-red url('/assets/icons/next-icon.png') no-repeat 92% center;
  }
  .est-monthly-total {
    text-align: center;
    padding: 13px;
    min-height: 56px;
    background-color: $sky-blue;
    h3 {
      font-size: 1.5em;
      color: $white;
      margin-top: 13px;
      margin-bottom: 13px;
    }
    p {
      font-size: 13px;
      margin-bottom: 13px;
    }
    @extend .columns;
    @extend .large-6;
    @extend .small-12;
  }
  .total-due-today {
    h3 {
      color: $zact-red;
      font-size: 1.5em;
    }
    min-height: 56px;
    @extend .columns;
    @extend .large-6;
    @extend .small-12;
  }
  .checkout-btn:hover {
    background-color: $charcoal;
  }
}