// Place all the styles related to the Buy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared/grids.css.scss";
@import "shared/colors";

h1 {
  text-align: center;
  color: $white;
  background-color: $sky-blue;
  margin: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  span.lead {
    color: $white;
  }
}

h1, h2 {
  text-transform: uppercase;
}

h2 {
  color: $sky-blue;
}

section {
  padding: 0;
}

section .row {
  padding-top: 13px;
  padding-bottom: 13px;
}

section:nth-of-type(3) {
  background-color: $sky-blue;
  h2 {
    color: $white;
  }
}

section:nth-of-type(4) {
  h2 {
    text-transform: capitalize;
    font-weight: normal;
    color: $black;
    font-size: 1.5em;
  }
  background-color: #F8F8FF;
}

span.lead {
  font-weight: bold;
  color: $black;
}