// Zact brand colors, use these in scss instead of hardcoded hexes!

$white: #ffffff;
$black: #000000;
$charcoal: #3a3a3a;
$green: #6bab4d;
$sky-blue: #4fb1cb;
$pistachio: #6ec596;
$light-gray: #E2E4E3;
$steel: #8f9ebc;
$purple: #695387;
$zact-red: #f0483e;
$orange: #eb7e00;
$yellow: #fdb714;
$soft-gray: #6C6268;
$zact-gray: #706359;