@import url("http://fonts.googleapis.com/css?family=Asap:400,700");
@import "shared/colors.css.scss";

h1, h2, h3, h4, h5, h6, body {
  font-family: 'Asap', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.4;
}

p {
  font-size: 13px/26px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

h4, h5, h6 {
  font-size: 1em;
}