.zact-footer {
  height: 79px;
  z-index: 100;
  background-color: #FFF;
  padding-top: 13px;
  padding-bottom: 13px;
  border-top: 1px solid #ccc;
  .copyright {
    text-align: center;
    font-size: 12px;
    margin-top: 13px;
  }
  .footer-links {
    padding-top: 3px;
    a {
      font-size: 13px;
      padding-left: 7px;
      padding-right: 13px;
      border-right: 1px solid #3a3a3a;
      text-decoration: none;
      color: #0085B2;
    }
    a:last-of-type {
      padding-right: 0;
      border-right: 0;
    }
  }
  .social-links {
    img {
      float: left;
      margin-right: 13px;
      margin-bottom: 13px;
    }
    img:last-of-type {
      margin-right: 0;
    }
  }
}