button {
  min-height: 26px;
  background-color: #f0483e;
  min-width: 52px;
  color: #FFFFFF;
  border: 0;
  font-family: 'Asap', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: #3a3a3a;
}