@import "shared/grids.css.scss";
@import "shared/colors.css.scss";

.phone-selector {
  .phone {
    @extend .columns;
    @extend .large-4;
    @extend .small-12;
    margin-bottom: 13px;
    padding-left: 0;
    padding-right: 0;
    img {
      max-width: 50%;
      float: left;
      padding-bottom: 13px;
      background: url('phone-shadow.png') no-repeat center bottom;
    }
    .info {
      position: relative;
      min-height: 216px;
      max-width: 50%;
      padding-left: 13px;
      float: left;
      a {
        text-decoration: none;
        color: $white;
      }
      .name {
        font-size: 14px;
      }
      .tagline, a {
        font-size: 12px;
      }
      .tagline {
        height: 48px;
      }
      .price {
        margin: 0;
        font-size: 1.5em;
        font-weight: bold;
      }
      button {
        position: absolute;
        bottom: 13px;
        left: 13px;
      }
    }
  }
}