= content_for :stylesheets do
  = stylesheet_link_tag "presets/preset_selector"

= content_for :javascripts do
  :javascript
    $(".preset-selector li .preset").click(function() {
      $(".preset-selector li").click();
    });
    $(".preset-selector li").click(function() {
      var price = $(this).find(".price").text();
      $(".plans .combined-price").text(price);
    });

.row
  %h2
    %span.lead
      = t('buy.presets.header.lead')
    = t('buy.presets.header.copy')
  %ul.preset-selector.subrow
    - @presets.each do |pr|
      %li.preset
        %h3= t('buy.presets.' + pr.people.to_s)
        %p.price= number_to_currency(pr.price)
    %li.preset.custom
      %h3= "+"
      %p= t('buy.presets.more')