= content_for :stylesheets do
  = stylesheet_link_tag "plans/plan_selector"

= content_for :javascripts do
  = javascript_include_tag ""

.plans
  %h2
    %span.lead
      = t('buy.plan.header.lead')
    = t('buy.plan.header.copy')
  .subrow
    .plan-summary
      %h3= t('buy.plan.summary.header')
      .combined-price $0.00
      %p
        %span.voice-amount 0 min
        %span= "|"
        %span.sms-amount 0 text
        %span= "|"
        %span.data-amount 0 MB data
      .plan-education
        %h3 How do I know how much I need?
        %div
          %ul
            %li Most people overestimate their usage
            %li The average person only uses 342 MB of data per month
            %li If you need more, you can always add it later, right on your device
        %h3.never-overpay Never Overpay Guarantee
        %div
          %ul
            %li Don't want to manage your plan? We'll do the work for you
            %li If you buy too much, we'll credit you back to the plan that fits you best
            %li With Zact, there are no worries. You can set it and forget it!
      %hr
      .no-contracts
        %strong No contracts
      .nationwide-sprint
        %strong Nationwide Sprint Network
        %p with 4G LTE where available
    .plan-carousels
