@import "shared/grids.css.scss";
@import "shared/colors.css.scss";

ul.preset-selector {
  @extend .large-block-grid-6;
  @extend .small-block-grid-2;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  li.preset {
    float: left;
    text-align: center;
    margin-left: 0;
    border-left: 1px solid $light-gray;
    height: 156px;
    color: $charcoal;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:first-of-type {
      border-left: 0;
    }
    h3 {
      user-select: none;
      font-weight: 700;
      font-size: 4em;
      line-height: 1.25em;
      margin: 0;
    }
    p {
      margin: 0;
      font-size: 1.5em;
      vertical-align: text-top;
    }
    &.custom {
      h3 {
        line-height: 1.25em;
      }
      p {
        font-size: 16px;
        line-height: 1.25em;
      }
    }
    &:hover {
      background-color: $charcoal;
      color: $white;
    }
    &:active, &.active {
      background-color: $zact-red;
      .preset {
        h3 {
          margin-top: -5px;
        }
        font-size: 1.1em;
        color: $white;
      }
    }
  }
}

