.zact-footer
  .row
    .columns.large-12.small-12.centered
      .footer-links.columns.large-7.small-7
        = link_to "About Us"
        = link_to "FAQ"
        = link_to "Contact Us"
        = link_to "News"
        = link_to "Blog"
        = link_to "Terms of Service"
        = link_to "Privacy Policy"
      .social-links.columns.large-5.small-5
        = image_tag "placeholders/placeholder-enter-email.png"
        = image_tag "placeholders/placeholder-socials.png"
    .copyright.columns.large-12.small-12.centered
      = "Copyright 2013 Zact"