.zact-header
  .row
    .columns.large-12.small-12.centered
      .columns.large-3.mobile-hide
        = image_tag "logos/zact-mobile-logo.png"
      %nav.columns.large-6.small-12
        %ul
          %li= "What's Zact?"
          %li.active= "Buy Now"
      .mini-nav.columns.large-3.mobile-hide
        = link_to "coverage"
        = link_to "help"
        = link_to "login"